<nav class="nav-sidebar-bg sticky-top">
  <ul class="list-unstyled h-100 d-flex flex-column py-8">
    <li class="mb-8 px-8">
      <a href="#">
        <img src="../assets/images/logo-ANSWER.svg" alt="">
      </a>
    </li>
    <li class="mb-6">
      <a href="#" class="link-sidebar text-dark d-flex align-items-center gap-4 py-1 px-8">
        <span class="material-icons fs-11">assessment</span>
        <span class="fw-bolder">Dashboard</span>
      </a>
    </li>
    <li class="mb-6">
      <a href="#" class="link-sidebar text-dark d-flex align-items-center gap-4 py-1 px-8">
        <span class="material-icons fs-11">question_answer</span>
        <span class="fw-bolder">Question</span>
      </a>
    </li>
    <li class="mb-6">
      <a href="#" class="link-sidebar text-dark d-flex align-items-center gap-4 py-1 px-8">
        <span class="material-icons fs-11">assignment</span>
        <span class="fw-bolder">Assignment</span>
      </a>
    </li>
    <li class="mb-6">
      <a href="#" class="link-sidebar text-dark d-flex align-items-center gap-4 py-1 px-8">
        <span class="material-icons fs-11">video_library</span>
        <span class="fw-bolder">Course</span>
      </a>
    </li>
    <li class="mb-6">
      <a href="#" class="link-sidebar text-dark d-flex align-items-center gap-4 py-1 px-8">
        <span class="material-icons fs-11">people</span>
        <span class="fw-bolder">Admin</span>
      </a>
    </li>
    <li class="mb-6">
      <a href="#" class="link-sidebar text-dark d-flex align-items-center gap-4 py-1 px-8">
        <span class="material-icons fs-11">settings</span>
        <span class="fw-bolder">Settings</span>
      </a>
    </li>
    <li class="mt-auto">
      <div class="d-flex align-items-center gap-4">
        <div class="user-pfp ratio ratio-1x1">
          <img src="../assets/images/andychen.jpeg" alt="user's avatar" class="object-fit-cover rounded-circle">
        </div>
        <div>
          <span class="d-block text-dark">Andy Chen</span>
          <span class="d-block text-secondary fs-16">andy0401@mail.com</span>
        </div>
      </div>
    </li>
  </ul>
</nav>